{% extends 'src/Laundry/Admin/AdminAllDays/CommonConfig/QrCode/AsArray/SourceCode/Masters/simple.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">Short</h1>
    <h1 class="d-none d-sm-block"><a id="RefreshBSTableId">Short</a></h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Laundry</a></li>
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item">AdminAllDays</li>
            <li class="breadcrumb-item">QrCodeWise</li>
            <li class="breadcrumb-item">AsArray</li>
            <li class="breadcrumb-item">Completion</li>
            <li class="breadcrumb-item">Short</li>
            <li class="breadcrumb-item active">ShowAll</li>
        </ol>
    </nav>
</div>

<div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
    <span class="visually-hidden">Loading...</span>
</div>
<table id="table">
    <thead>
        <tr>
            <th data-formatter="jFGlobalSerialColumn">#</th>
        </tr>

    </thead>
</table>
{% endblock %}

{% block js %}
<!-- <script type="module" src="../Js/pages/ToFactoryShort/StartFunc.js"></script> -->
<script type="module" src="../Js/pages/CompletionShort/StartFunc.js"></script>
{% endblock %}