{% extends 'src/Laundry/Admin/AdminAllDays/CommonConfig/QrCode/AsArray/SourceCode/Masters/simple.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">FactoryScan</h1>
    <h1 class="d-none d-sm-block"><a id="RefreshBSTableId">FactoryScan</a></h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Laundry</a></li>
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item">AdminAllDays</li>
            <li class="breadcrumb-item">QrCodeWise</li>
            <li class="breadcrumb-item">AsArray</li>
            <li class="breadcrumb-item">FactoryScan</li>
            <li class="breadcrumb-item active">ShowAll</li>
        </ol>
    </nav>
</div>

<div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
    <span class="visually-hidden">Loading...</span>
</div>
<table id="table">
    <thead>
        <tr>
            <th data-formatter="jFGlobalSerialColumn">#</th>
        </tr>

    </thead>
</table>
{% endblock %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/extensions/export/bootstrap-table-export.min.js"></script>
<!-- <script type="module" src="../Js/pages/QrToFactory/StartFunc.js"></script> -->
<script type="module" src="../Js/pages/FactoryScan/StartFunc.js"></script>
{% endblock %}