{% set title = 'Account Profile' %}

{% extends 'src/Clients/Washtex/Branch/SourceCode/Masters/simple.html' %}
{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">New Item</h1>
    <h1 class="d-none d-sm-block">New Item</h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Masters</li>
            <li class="breadcrumb-item active">ItemsCreate</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col">
            <form onsubmit="return false" id="FormId">
                <div class="row ColumnsRow">
                    <div class="col-md-12">
                        <label class="col-md-4 col-form-label">Category</label>
                        <div class="col-md-8">
                            <select name="Category" class="form-select" required>
                                <option value="">Select Category</option>
                                <option value="Men">Men</option>
                                <option value="Women">Women</option>
                                <option value="Others">Others</option>
                            </select>
                            <div class="invalid-feedback">
                                Category Should not be empty!!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-4 col-form-label">ItemName</label>
                        <div class="col-md-8">
                            <input name="ItemName" type="text" class="form-control" autocomplete="off" required>
                            <div class="invalid-feedback">
                                ItemName Should not be empty!!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-4 col-form-label">Pcs</label>
                        <div class="col-md-8">
                            <input name="Pcs" type="number" class="form-control" autocomplete="off">
                            <div class="invalid-feedback">
                                Pcs Should not be empty!!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-4 col-form-label">WashType</label>
                        <div class="col-md-8">
                            <input name="WashType" type="text" class="form-control" autocomplete="off">
                            <div class="invalid-feedback">

                                WashType Should not be empty!!

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-4 col-form-label">Rate</label>
                        <div class="col-md-8">
                            <input name="DryWashRate" type="number" class="form-control" autocomplete="off" required>
                            <div class="invalid-feedback">

                                WashRate Should not be empty!!

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-10">
                        <button id="SaveButtonId" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script type="module" src="../Js/pages/ItemsCreate/StartFunc.js"></script>
{% endblock %}