node_modules/

bin/
dist/

KData/
publicDir/
publicStatic/

ColumnSchema/*.json
TableSchema/*.json

src/AllTables/WithSSR/WithSubTable/SourceCode/HtmlFiles
src/AllTables/WithSSR/WithSubTable/SourceCode/Js

src/AllTables/WithSSR/SubTableSideBar/SourceCode/HtmlFiles
src/AllTables/WithSSR/SubTableSideBar/SourceCode/Js

src/Clients/Laundry/Washtex/SourceCode/HtmlFiles
src/Clients/Laundry/Washtex/SourceCode/Js

src/Clients/Garmants/Mag/SourceCode/HtmlFiles
src/Clients/Garmants/Mag/SourceCode/Js

src/AllTables/WithSSR/WithSubTable/KCode/sideBarItems.json

.env
.vscode
.log

defineConfig.js
