{% set title = 'Account Profile' %}

{% extends 'src/Laundry/Branch/FromFactory/SourceCode/Masters/simple.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">DC QRPrint</h1>
    <h1 class="d-none d-sm-block"><a id="RefreshBSTableId">DC QRPrint</a></h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">ToFactory</li>
            <li class="breadcrumb-item active">Show</li>
        </ol>
    </nav>
</div>

<div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
    <span class="visually-hidden">Loading...</span>
</div>
<table id="table">
    <thead>
        <tr>
            <th data-formatter="jFGlobalSerialColumn">#</th>
        </tr>

    </thead>
</table>
{% endblock %}

{% block js %}

<div class="modal fade" id="ModalForQrCodeOnly" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dc QrCode</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="ModalBodyorQrCodeOnly">
                <div class="row">
                    <div style="text-align: center;" class="col">
                        <canvas id="CanvasId" width=50 height=50
                            style="border:1px solid #fff;visibility:hidden"></canvas>
                        <div>
                            <b id="BranchName">
                                {{VoucherNumber}}<br>
                                {{Branch}}
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    onclick="printJS('ModalBodyorQrCodeOnly', 'html')">Print</button>
            </div>
        </div>
    </div>
</div>
<script>
    function jFGlobalSerialColumn(value, row, index) {
        return index + 1;
    };

    function totalFormatter(data) {
        var field = this.field;
        let LocalTotal = data.map(function (row) {
            if (row[field] === undefined) {
                return 0;
            };
            return +row[field];
        }).reduce(function (sum, i) {
            return sum + i
        }, 0);

        return LocalTotal.toFixed(2);
    };
    function DateFormatter(value, row, index) {
        const timestamp1 = new Date(row.DateTime);
        const timestamp2 = new Date();
        const diff = timestamp2 - timestamp1;

        const days = Math.floor(diff / (1000 * 60 * 60 * 24));
        const hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));

        return `${days}days ${hours}hrs ${minutes}min`;
    }
    function ItemsFormatter(value, row, index) {
        // console.log("row:", row);
        return [
            `<a class="like btn btn-primary" href="./DcQrs.html?VoucherRef=${row.pk}" title="Show">`,
            '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">',
            '<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>',
            '<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>',
            '</svg>',
            ' ',
            row.ItemDetails,
            '</a>',

        ].join('')

    };
    function QRCodeGenerate(value, row, index) {
        return [
            `<a class="like" href="#" title="Scan">`,
            `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                </svg>`,
            '</a>  '
        ].join('')
    }
    function priceFormatter(data) {
        var field = this.field
        return '' + data.map(function (row) {
            return +row.ItemDetails
        }).reduce(function (sum, i) {
            return sum + i
        }, 0)
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/extensions/export/bootstrap-table-export.min.js"></script>

<script src="../assets/static/vendor/bwip-js-min.js"></script>
<script src="../assets/static/vendor/print.min.js"></script>

<!-- <script type="module" src="../Js/pages/ToFactoryQRPrint/StartFunc.js"></script> -->

<script type="module" src="../Js/pages/ToFactoryQRPrint/StartFunc.js"></script>
{% endblock %}