<ul class="sidebar-nav" id="sidebar-nav">
    {% for result in sidebarItems %}
    {% if result.isTitle %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#">
            <i class="{{ result.icon }}"></i>
            <span>{{result.name}}</span>
        </a>
    </li>
    {% else %}
    {% if result.children %}
    <li class="nav-item">
        <a class="nav-link {{ '' if (result.url == filename or filename|startsWith(result.key)) else 'collapsed' }}"
            href="#" data-bs-target="#{{result.name}}" data-bs-toggle="collapse">
            <i class="{{ result.icon }}"></i>
            <span>{{ result.name }}</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        {% if result.children.length > 0 %}
        <ul id="{{result.name}}"
            class="nav-content collapse {{ 'show' if (result.url == filename or filename|startsWith(result.key)) else '' }}"
            data-bs-parent="#sidebar-nav">
            {% for sub in result.children %}
            <li>
                <a class="{{ 'active' if (sub.url == filename) else '' }}" href="./{{ sub.url }}">
                    <i class="bi bi-circle"></i><span>{{ sub.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link {{ '' if (result.url == filename or filename|startsWith(result.key)) else 'collapsed' }}" href="./{{ result.url }}">
            <i class="{{ result.icon }}"></i>
            <span>{{result.name}}</span>
        </a>
    </li>
    {% endif %}
    {% endif %}

    {% endfor %}
</ul>