{% set title = 'Account Profile' %}

{% extends 'src/Laundry/Branch/ToFactory/SourceCode/Masters/simple.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">DC Vouchers</h1>
    <h1 class="d-none d-sm-block"><a id="RefreshBSTableId">DC Vouchers</a></h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">ToFactory</li>
            <li class="breadcrumb-item active">Show</li>
        </ol>
    </nav>
</div>

<div class="col">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h6 style="display: inline;">Voucher Number </h6>
            </div>
            <div class="col-1">:</div>
            <div class="col-7">
                <b>
                    <p style="display: inline;" id="VoucherNumberTextId">Not found</p>
                </b>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <h6 style="display: inline;">Date </h6>
            </div>
            <div class="col-1">:</div>
            <div class="col-7">
                <b>
                    <p style="display: inline;" id="DateTextId">Not found</p>
                </b>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h6 style="display: inline;">Description </h6>
            </div>
            <div class="col-1">:</div>
            <div class="col-7">
                <b>
                    <p style="display: inline;" id="DescriptionTextId">Not found</p>
                </b>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <h6 style="display: inline;">DC Factory</h6>
            </div>
            <div class="col-1">:</div>
            <div class="col-7">
                <b>
                    <p style="display: inline;" id="DCFactoryTextId">Not found</p>
                </b>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <h6 style="display: inline;">DC Branc hName</h6>
            </div>
            <div class="col-1">:</div>
            <div class="col-7">
                <b>
                    <p style="display: inline;" id="DCBranchNameTextId">Not found</p>
                </b>
            </div>
        </div>
    </div>

</div>

<div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
    <span class="visually-hidden">Loading...</span>
</div>
<table id="table">
    <thead>
        <tr>
            <th data-formatter="jFGlobalSerialColumn">#</th>
        </tr>

    </thead>
</table>
{% endblock %}

{% block js %}

<script>
    function jFLocalSerialColumn(value, row, index) {
        return index + 1;
    };

    function totalFormatter(data) {
        var field = this.field;
        let LocalTotal = data.map(function (row) {
            if (row[field] === undefined) {
                return 0;
            };
            return +row[field];
        }).reduce(function (sum, i) {
            return sum + i
        }, 0);

        return LocalTotal.toFixed(2);
    };

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.6/dist/extensions/export/bootstrap-table-export.min.js"></script>
<!-- <script type="module" src="../Js/pages/ToFactoryVouchers/StartFunc.js"></script> -->
<script type="module" src="../Js/pages/DcQrs/StartFunc.js"></script>
{% endblock %}