{% extends 'src/Laundry/Branch/ToFactory/SourceCode/Masters/simple.html' %}

{% block content %}
<div class="pagetitle">
    <h1 class="d-block d-sm-none">DC Vouchers</h1>
    <h1 class="d-none d-sm-block"><a id="RefreshBSTableId">DC Vouchers</a></h1>
    <nav class="d-none d-sm-block">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">ToFactory</li>
            <li class="breadcrumb-item active">Show</li>
        </ol>
    </nav>
</div>

<div class="spinner-border" id="SpinnerId" role="status" style="display: none;">
    <span class="visually-hidden">Loading...</span>
</div>
<table id="table">
    <thead>
        <tr>
            <th data-formatter="jFGlobalSerialColumn">#</th>
        </tr>

    </thead>
</table>
{% endblock %}

{% block js %}


<!-- <script type="module" src="../Js/pages/ToFactoryToScan/StartFunc.js"></script> -->
<script type="module" src="../Js/pages/FactorySent/StartFunc.js"></script>
{% endblock %}